/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  width: 100%;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-main, sans-serif);
  font-variation-settings: "wght" var(--font-main-normal);
  font-size: 18px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.header {
  margin-top: 100px;
  align-content: center;
  justify-content: center;
  justify-self: center;
  font-family: var(--font-accent, sans-serif);
  text-transform: uppercase;
  height: clamp(20.438rem, 24.5359rem + 3.849vw, 23rem);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.header-width {
  width: clamp(23.438rem, 24.2859rem + 30.5157vw, 43.75rem);
}

.header-title {
  display: block;
  justify-self: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--font-main-normal);
  margin-block-end: 20px;
}

.header-text {
  display: block;
  justify-self: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
}

.content {
  margin-top: 100px;
}

.section {
  margin: 0 auto;
}

.article {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
  padding-bottom: 25px;
  background-color: var(--background-color);
}

.article-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
}

.card__image {
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  max-height: 696px;
  margin-bottom: 20px;
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__image img {
  width: 100%;
  height: 100%;
  min-height: 696px;
  min-width: 696px;
  object-fit: cover;
  object-position: center;
  margin-block-end: 50px;
}

.filter-brightness {
  filter: brightness(500%);
}

.filter-contrast {
  filter: contrast(40%);
}

.filter-blur {
  filter: blur(0.4rem);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-saturate {
  filter: saturate(38%);
}

.filter-many {
  filter: hue-rotate(-45deg) invert(0.8);
}

.filter-sepia {
  filter: sepia(90%);
}

.image-text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: var(--accent-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 0 var(--background-color), 1px 1px 0 var(--background-color), -1px 1px 0 var(--background-color), 0 -1px 0 var(--background-color);
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .image-text {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.article-title {
  margin-block-start: 50px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-color);
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 25px;
  font-size: 18px;
  line-height: 21.78px;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--font-main-bold);
}

.article-text {
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-main-normal);
}

.my-article-text {
  padding-top: 25px;
  padding-left: 25px;
}

.card__icon-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
}

.like__buttons {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 25px;
  padding-right: 25px;
  gap: 10px;
}

.card__like-button {
  position: relative;
   z-index: 10;
  max-width: 130px;
}

.button__text {
  color: var(--accent-color);
  position: relative;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 12.6px;
  color:var(--background-color);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
  z-index: 2;
}

.like-button {
  display: flex;
  background-color: transparent;
  background-color: var(--background-color);
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--accent-color);
  padding: 12px 36px;
  align-items: center;
  justify-content: center;
}

.like-button::after {
  content: "";
  background-color: var(--accent-color);
  color: var(--background-color);
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.like-button:hover::after {
  content: "";
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.sparks {
  opacity: 0;
}
.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0;
  block-size: 39px;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.footer {
  margin: 50px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.footer-text {
  background-color: var(--background-color);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 12.6px;
  min-width: 340px;
}

.save-to-memory {
  display: block;
}

.icon {
  display: block;
  background-color: transparent;
  min-height: 21px;
  min-width: 21px;
}

.save-to-memory,
.icon {
  position: relative;
  z-index: 2;
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: color 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.card__like-button:hover .save-to-memory,
.card__like-button:hover .icon {
  color: var(--background-color);
  fill: var(--background-color);
}

.footer-text:hover .save-to-memory,
.footer-text:hover .icon {
  color: var(--background-color);
  fill: var(--background-color);
}

.dialog {
  width: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
  padding: 30px;

  
}

.dialog[open] {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.save-modal {
  display: flex;
  align-items: center;
  gap: 25px;
}

.save-modal .icon {
  display: flex;
  align-items: center;
  gap: 0px;
  min-block-size: 50px;
  min-inline-size: 50px;
}

.dialog__button {
  width: 100%;
  background-color: transparent;
}

.button {
  width: 100%;
}

.dialog form {
  width: 100%;
  flex-basis: 100%;
}

.dialog-text {
  font-size: 14px;
  line-height: 21px;
  font-family: var(--font-accent, sans-serif);
  font-variation-settings: "wght" var(--font-main-normal);
}

.ok-button {
  padding: 10px;
}

@media (width<376px) {
  .header {
    max-width: 375px;
    height: clamp(20.438rem, 24.5359rem + 3.849vw, 2rem);
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .card__image img {
    max-width: 371px;
    min-width: 371px;
    min-height: 371px;
    max-height: 371px;
    object-fit: cover;
    object-position: center;
    margin-block-end: 0px;
  }

  .article-text {
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 29px;
    font-size: 18px;
    line-height: 21px;
    font-variation-settings: "wght" var(--font-main-normal);
  }

  .my-article-text {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 30px;
  }

  .footer {
    padding: 0;
    padding-top: 0px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-text {
    margin: 0 auto;
    min-width: 305px;
    gap: 0px;
    margin: 0px auto;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 14px;
    align-items: center;
  }

  .save-to-memory {
    display: block;
    padding-right: 5px;
    padding-top:0px;
  }

  .icon {
    padding-right: 14px;
    padding-left: 7px;
    min-width: 49px;
    min-height: 49px;
  }

  .dialog {
    width: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
    padding: 30px;
  }

  .dialog[open] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }

  .save-modal .icon {
    display: flex;
    align-items: center;
    gap: 0px;
    min-block-size: 80px;
    min-inline-size: 80px;
  }
}
